
# Build directories
build/
out/
bin/
obj/

# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.proto.res

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
CMakePresets.json.user

# Compiled Binaries
*.exe
*.dll
*.lib
*.pdb
*.exp

# OS files
.DS_Store
Thumbs.db


build/
.vscode/